In [1]:
import pandas as pd
import os
import ast

## cebu scans
handling these separately because there are way too many of them

In [2]:
file_name = '/Users/elizabethschwartz/Documents/spring_2023/culture_at_scale/ia_infrastructure_proj/get_scandates/scandates.txt'

In [4]:

print(f'File Size is {os.stat(file_name).st_size / (1024 * 1024)} MB')

File Size is 103.13106346130371 MB

In [5]:
txt_file = open(file_name, 'r')
text= txt_file.read()

In [6]:
text = text.split(',')

In [7]:
text[5545512] = '{"scandate":"20220504133448"}'

In [8]:


records = []
for item in text: 
    if item == '{}':
        pass
    else:
        records.append(ast.literal_eval(item))

In [9]:
records[0]

{'scandate': '20191022183523'}

In [21]:
cebu_df = pd.DataFrame(records)

In [22]:
cebu_df

               scandate
0        20191022183523
1        20220622040016
2        20210107052812
3        20200213030655
4        20200107051727
...                 ...
3389040  20200908111957
3389041  20201116185924
3389042  20210901103826
3389043  20201203032417
3389044  20220504133448

[3389045 rows x 1 columns]

In [23]:
cebu_df['scandate'] = pd.to_datetime(cebu_df['scandate'], format='%Y%m%d%H%M%S')

In [24]:
cebu_df['month_year'] = pd.to_datetime(cebu_df['scandate']).dt.to_period('M')

In [27]:
cebu_scan_counts = cebu_df.groupby(cebu_df['month_year']).count()

In [29]:
len(cebu_scan_counts)

56

In [30]:
cebu_scan_counts.to_csv("/Users/elizabethschwartz/Documents/spring_2023/culture_at_scale/ia_infrastructure_proj/scandates/cebu_scan_counts.csv")

## Datum Data and Hong Kong
Handled together because their files are the same size and structure

In [32]:
import json

In [77]:
datum_data_file = '/Users/elizabethschwartz/Documents/spring_2023/culture_at_scale/ia_infrastructure_proj/scandates/shenzhen_scandates.json'

In [78]:
with open(datum_data_file, 'r') as f:
  datum_data = json.load(f)

In [79]:
datum_data = datum_data["docs"]

In [80]:
shenzhen_df = pd.DataFrame(datum_data)

In [81]:
shenzhen_df

              scandate
0       20120910041219
1       20111126232701
2       20111020060201
3       20121210013914
4       20110331180721
...                ...
402412  20140118102216
402413  20110506081056
402414  20120517015833
402415  20120330072616
402416  20120913020042

[402417 rows x 1 columns]

In [82]:
hongkong_file = "/Users/elizabethschwartz/Documents/spring_2023/culture_at_scale/ia_infrastructure_proj/scandates/hongkong_scandates.json"

In [83]:
with open(hongkong_file, 'r') as f:
  hongkong = json.load(f)

In [84]:
hongkong = hongkong["docs"]

In [85]:
hongkong_df = pd.DataFrame(hongkong)

In [91]:
shenzhen_df['scandate'] = pd.to_datetime(shenzhen_df['scandate'], format='%Y%m%d%H%M%S')
hongkong_df['scandate'] = pd.to_datetime(hongkong_df['scandate'], format='%Y%m%d%H%M%S', errors="coerce")

In [92]:
shenzhen_df['month_year'] = pd.to_datetime(shenzhen_df['scandate']).dt.to_period('M')
hongkong_df['month_year'] = pd.to_datetime(hongkong_df['scandate']).dt.to_period('M')

In [93]:
shenzhen_df

                  scandate month_year
0      2012-09-10 04:12:19    2012-09
1      2011-11-26 23:27:01    2011-11
2      2011-10-20 06:02:01    2011-10
3      2012-12-10 01:39:14    2012-12
4      2011-03-31 18:07:21    2011-03
...                    ...        ...
402412 2014-01-18 10:22:16    2014-01
402413 2011-05-06 08:10:56    2011-05
402414 2012-05-17 01:58:33    2012-05
402415 2012-03-30 07:26:16    2012-03
402416 2012-09-13 02:00:42    2012-09

[402417 rows x 2 columns]

In [94]:
shenzhen_scan_counts = shenzhen_df.groupby(shenzhen_df['month_year']).count()
hongkong_scan_counts = hongkong_df.groupby(hongkong_df['month_year']).count()

In [95]:
shenzhen_scan_counts

            scandate
month_year
2009-07            7
2010-03            3
2010-04           31
2010-07           98
2010-08          286
...              ...
2016-11           12
2016-12           19
2017-04            8
2017-05            1
2019-10            1

[83 rows x 1 columns]

In [96]:
hongkong_scan_counts

            scandate
month_year
2009-08            1
2009-09            2
2009-12            1
2010-02            1
2010-06            1
...              ...
2018-09        26901
2018-10        29563
2018-11        26944
2018-12        19350
2019-01         8855

[62 rows x 1 columns]

In [97]:
shenzhen_scan_counts.to_csv("/Users/elizabethschwartz/Documents/spring_2023/culture_at_scale/ia_infrastructure_proj/scandates/shenzhen_scan_counts.csv")

In [98]:
hongkong_scan_counts.to_csv("/Users/elizabethschwartz/Documents/spring_2023/culture_at_scale/ia_infrastructure_proj/scandates/hongkong_scan_counts.csv")