In [1]:
import pandas as pd

In [10]:
scanner_df = pd.read_csv("/Users/elizabethschwartz/Documents/access-ia-metadata-records/data/scanner-table-test.csv")
sponsor_df = pd.read_csv("/Users/elizabethschwartz/Documents/access-ia-metadata-records/data/sponsor-table-test.csv")
merged = scanner_df.merge(sponsor_df, on='identifier', how='left')

In [11]:
merged

,identifier,scanner,sponsor
0,strangewind00jeff,ttscribe25.hongkong.archive.org,Kahle/Austin Foundation
1,64sonnets0000keat,ttscribe11.hongkong.archive.org,Kahle/Austin Foundation
2,7dayslimdowndrop0000bowm,ttscribe20.hongkong.archive.org,Kahle/Austin Foundation
3,7levelsofchangeg0000smit,ttscribe23.hongkong.archive.org,Kahle/Austin Foundation
4,275corporatereal00,ttscribe5.hongkong.archive.org,NaN